@import url("themes/pallete_mocha.css");

.content{
    display:flex;
    justify-content:center;

    margin-top:5em;

    gap:2em;

}

.mainImg{
    display:flex;
    justify-content:center;
    align-items:center;
    height:10em;
    
    border-radius:15px;
    
    font-size:32px;
}

.text{
    display:flex;
    flex-direction:column;
    align-items:center;

    width:30em;

    padding-top: 2em;
    
    font-size:18px;
}
