@import url("pallete_mocha.css");

.content{
    display:flex;
    justify-content:center;
    margin-top:3em;

}

.mainImg{
    display:flex;
    width:90%;
    height:300px;
    justify-content:center;
    align-items:center;

    font-size:32px;
    h1{
        color:var(--crust);
    }
 
    background-image: url("../../../files/images/mochaCoffe.jpg");
    background-size: 100% 90%;   

}
