@import url("themes/pallete_mocha.css");

.main{
    display:flex;
    justify-content:center;

    width:100%;
}
.content{
    display:grid;
    grid-template-columns: 1fr 2fr;

    margin-top:5em;
    width:70%;

}

.filters{
    display:grid;
    align-items:center;
    width:100%;
    height:100%;
    font-size:28px;

}

.products{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;

    gap:1em;
}

.prd-card{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    aspect-ratio: 1 / 1;

    border: 2px solid var(--mantle);
    border-radius:20px;
    padding-bottom:1em;
}

button{
    background-color: var(--teal);
    color:var(--surface2);

    font-size:20px;

    border-radius:20px;

    height:30%;
    width:80%;
}

.check{
    display:flex;
    align-items:center;
}

input[type="checkbox"] {
  
}
